@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --color-jetblack-25: #252525;
  --color-blue-slate: #4a7189;
  --color-steel-navy: #293e4c;
  --color-pale-sky: #c0dde9;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}


body {
  background: linear-gradient(
    180deg,
    #4a7189 0%,
    #83bdc1 9.13%,
    #cde3ed 25.99%,
    #d9f2f9 50%,
    #cde3ed 72.04%,
    #83bdc1 91.83%,
    #4a7189 100%
  );
}
